In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import make_classification

# Specify the file path
file_path = "Merged_Aneurysm.csv"

# Load the CSV file into a Pandas DataFrame
data = pd.read_csv(file_path)

# Display the first few rows of the DataFrame to verify the data has been loaded correctly
data

,case_id,patient_id,aneurysmLocation,aneurysmType,ruptureStatus,age,sex,multipleAneurysms,sacVolume,sacSurfaceArea,...,maxPressure,meanPressure,maxSpeed,meanSpeed,minTAWSS,maxTAWSS,meanTAWSS,minOSI,maxOSI,meanOSI
0,C0001,P0085,ICA,LAT,U,53,F,False,125.259604,120.453515,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C0002,P0112,ICA,LAT,U,35,F,False,119.002032,122.427263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C0003,P0115,ICA,TER,U,43,F,False,12.740609,23.480617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C0004,P0116,ICA,TER,U,60,F,True,9.376307,18.084625,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C0005,P0118,ICA,LAT,R,26,F,False,37.934454,54.844592,...,7665.00,3722.280000,70.275319,13.193760,0.31251,176.440,20.908880,0.0,0.44672,0.001574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,C0095,P0270,BAS,TER,U,43,F,False,76.340708,75.181897,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,C0096,P0271,BAS,TER,R,67,M,False,436.828426,260.200509,...,765.53,346.252856,18.308317,3.402625,0.00777,22.004,4.918505,0.0,0.47207,0.011223
100,C0097,P0274,ICA,LAT,R,84,F,False,94.271201,100.528873,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,C0098,P0286,MCA,TER,R,59,F,False,1022.481082,466.087643,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,C0099,P0288,MCA,TER,U,42,F,False,27.389526,38.932019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
print(f'{data.columns}\n {data.shape}')

characteristics = [f'{data.columns}']

Index(['case_id', 'patient_id', 'aneurysmLocation', 'aneurysmType',
       'ruptureStatus', 'age', 'sex', 'multipleAneurysms', 'sacVolume',
       'sacSurfaceArea', 'vdcVolume', 'vdcSurfaceArea', 'sacSectionArea',
       'ellipsoidVolume', 'ellipsoidMaxSemiaxis', 'ellipsoidMidSemiaxis',
       'ellipsoidMinSemiaxis', 'sacCenterlineLength', 'ostiumSectionArea',
       'ostiumSectionPerimeter', 'ostiumMinSize', 'ostiumMaxSize',
       'ostiumShapeFactor', 'aspectRatio_star', 'sizeRatio_star',
       'vesselDiameter', 'neckVesselAngle', 'sacVesselAngle', 'sacMinPressure',
       'sacMaxPressure', 'sacMeanPressure', 'sacMaxSpeed', 'sacMeanSpeed',
       'sacMinTAWSS', 'sacMaxTAWSS', 'sacMeanTAWSS', 'sacMinOSI', 'sacMaxOSI',
       'sacMeanOSI', 'vesselName', 'length', 'meanRadius', 'meanCurvature',
       'meanTorsion', 'tortuosity', 'minRadius', 'maxRadius', 'maxCurvature',
       'maxTorsion', 'bifurcationAngleInPlane', 'bifurcationAngleOutOfPlane',
       'minPressure', 'maxPressure', 'meanPressure', 'maxSpeed', 'meanSpeed',
       'minTAWSS', 'maxTAWSS', 'meanTAWSS', 'minOSI', 'maxOSI', 'meanOSI'],
      dtype='object')
 (103, 62)

In [3]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

# Assuming 'data' is your DataFrame containing the dataset

# Define the list of irrelevant features to be dropped
irrelevant_features = ['case_id', 'patient_id']

# Drop the irrelevant features from the DataFrame
data_cleaned = data.drop(columns=irrelevant_features)

# Handle missing values
numerical_columns = data_cleaned.select_dtypes(include=np.number).columns
categorical_columns = data_cleaned.select_dtypes(exclude=np.number).columns

imputer_numerical = SimpleImputer(strategy='mean')
data_cleaned[numerical_columns] = imputer_numerical.fit_transform(data_cleaned[numerical_columns])

imputer_categorical = SimpleImputer(strategy='most_frequent')
data_cleaned[categorical_columns] = imputer_categorical.fit_transform(data_cleaned[categorical_columns])

# Encode categorical variables
encoder = OneHotEncoder(drop='first')
encoded_categorical = encoder.fit_transform(data_cleaned[categorical_columns]).toarray()
encoded_categorical_columns = encoder.get_feature_names_out(categorical_columns)

# Encode the target variable
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(data['ruptureStatus'])

# Replace categorical columns with encoded values
data_encoded = pd.concat([data_cleaned.drop(columns=categorical_columns), pd.DataFrame(encoded_categorical, columns=encoded_categorical_columns)], axis=1)

# Feature Scaling
scaler = StandardScaler()
data_scaled = scaler.fit_transform(data_encoded)

# Assign Data and Target Variable
X = data_scaled
y = y_encoded

In [5]:
data_cleaned

,aneurysmLocation,aneurysmType,ruptureStatus,age,sex,multipleAneurysms,sacVolume,sacSurfaceArea,vdcVolume,vdcSurfaceArea,...,maxPressure,meanPressure,maxSpeed,meanSpeed,minTAWSS,maxTAWSS,meanTAWSS,minOSI,maxOSI,meanOSI
0,ICA,LAT,U,53.0,F,False,125.259604,120.453515,111.237957,106.759273,...,2424.0875,1037.260277,32.487594,7.452501,0.275435,55.867875,11.385739,0.0,0.326351,0.002464
1,ICA,LAT,U,35.0,F,False,119.002032,122.427263,113.720361,115.774279,...,2424.0875,1037.260277,32.487594,7.452501,0.275435,55.867875,11.385739,0.0,0.326351,0.002464
2,ICA,TER,U,43.0,F,False,12.740609,23.480617,11.865511,21.853480,...,2424.0875,1037.260277,32.487594,7.452501,0.275435,55.867875,11.385739,0.0,0.326351,0.002464
3,ICA,TER,U,60.0,F,True,9.376307,18.084625,9.031234,17.295395,...,2424.0875,1037.260277,32.487594,7.452501,0.275435,55.867875,11.385739,0.0,0.326351,0.002464
4,ICA,LAT,R,26.0,F,False,37.934454,54.844592,35.903048,52.303479,...,7665.0000,3722.280000,70.275319,13.193760,0.312510,176.440000,20.908880,0.0,0.446720,0.001574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,BAS,TER,U,43.0,F,False,76.340708,75.181897,73.667218,72.394490,...,2424.0875,1037.260277,32.487594,7.452501,0.275435,55.867875,11.385739,0.0,0.326351,0.002464
99,BAS,TER,R,67.0,M,False,436.828426,260.200509,406.697959,235.955139,...,765.5300,346.252856,18.308317,3.402625,0.007770,22.004000,4.918505,0.0,0.472070,0.011223
100,ICA,LAT,R,84.0,F,False,94.271201,100.528873,90.072358,95.666266,...,2424.0875,1037.260277,32.487594,7.452501,0.275435,55.867875,11.385739,0.0,0.326351,0.002464
101,MCA,TER,R,59.0,F,False,1022.481082,466.087643,981.326431,446.253620,...,2424.0875,1037.260277,32.487594,7.452501,0.275435,55.867875,11.385739,0.0,0.326351,0.002464
102,MCA,TER,U,42.0,F,False,27.389526,38.932019,27.091223,38.156867,...,2424.0875,1037.260277,32.487594,7.452501,0.275435,55.867875,11.385739,0.0,0.326351,0.002464